*{
    cursor: pointer;
}

body{
    font-family: 'Times New Roman', Times, serif;
}
.container{
    /* padding: 5px; */
    display: flex;
    height: 100vh;
}
header{
    height: 25px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    
}
.right_head>:hover{
    
        opacity: 1;
        transform: scale(1.1);
          
}
.left_head>:hover{
    opacity: 1;
        transform: scale(1.1);
}
.left_head {
    border: 1px solid #000;
    border-radius: 10px;
    width: 70%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:rgb(9, 9, 23) ; 
    margin-left:42px ;
  }
  .left_head > span {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px;
    background-color:rgb(47,79,79);
    color: white;

  }
  .right_head {
    border: 1px solid rgb(41, 44, 93);
    border-radius: 10px;
    width: 20%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .right_head:hover{
opacity: 1;
transform: scale(1.1);
  }

.nav{
    width: 10%;
    background-color:rgb(9, 9, 23);
    
    border-radius: 15px;
    box-shadow: 4px 5px 10px 0px rgb(70, 130, 180);
}
.nav_center>:hover{
    opacity: 1;
    transform: scale(1.1);
}
.nav_top:hover{
    opacity: 1;
    transform: scale(1.1);
}
.nav_bottom>:hover{
    opacity: 1;
    transform: scale(1.1);
}
.img1{
    border: 1px solid black;
    border-radius: 5px;
}

.main{
    width: 90%;
    display: flex;
    flex-direction: column;

}
.layout{
    display: flex;
    height: 100%;
    
}
.maincontent{
    width: 80%;
    display: flex;

}
aside{
    width: 20%;
    
}
.left{
    width: 75%;
    display: flex;
    flex-direction: column;
    margin-top: -13px;
   

}
.left>:hover{
    opacity: 1;
    transform: scale(1.1);
}
.right{
    width: 25%;
    display: flex;
    flex-direction:column ;
    margin-left: -10px;
   
}
.right>:hover {
    opacity: 1;
    transform: scale(1.1);
  }
.profile{
    flex: 1;
}
.top{
    flex:1;
    display: flex;
    flex-direction:row ;
    border: 1px solid grey;
    /* background-color: #4c4177;
background-image: linear-gradient(315deg, #4c4177 0%, #2a5470 74%); */
background: linear-gradient(114.9deg, rgb(34, 34, 34) 8.3%, rgb(0, 40, 60) 41.6%, rgb(0, 143, 213) 93.4%);
    border-radius:20px ;
    box-shadow: 4px 5px 10px 0px rgb(70, 130, 180);
    margin: 25px;
}
.bottom{
    flex: 1;
    border-radius: 20px;
    margin: 23px;
    background: linear-gradient(114.9deg, rgb(34, 34, 34) 8.3%, rgb(0, 40, 60) 41.6%, rgb(0, 143, 213) 93.4%);
    box-shadow: 4px 5px 10px 0px rgb(70, 130, 180);
}

.right1{
    width: 50%;
    
}
.left>*{
    border: 1px solid grey;
}
.left2{
    height: 50%;
}
body{
    background-color: black;
}

.material-symbols-outlined {
    height: 62px;
    margin-top: 11%;
    color: white;
}
.img1 {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    display: block;
   margin-top: 10%;
    
}

.nav_top {
    height: 15vh;
}

.nav_center {
    height:75vh;
}

.nav_bottom {
    height: 9vh;
}

.bottom1{
    color: white;
    margin: 10px;

    
}
.dropbtn {
    background-color: #152238;
    color: white;
    padding: 16px;
    font-size: 10px;
    border: none;
   border-radius: 10px;
   padding-right: 60px;
   margin-top: -11px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #152238;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
  }
  
  
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
  }
  
  .dropdown-content a:hover {background-color: black;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
ul.no-bullets {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
  }
  .progress-bar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: 
    radial-gradient(closest-side,grey 79%, transparent 80% 100%),
    conic-gradient(green 75%, white 0);    
}
.padding1{
     
    padding: 10px;
    color: white;
    border-left: 3px solid green;
        background-color: #63d471;
        background-image: linear-gradient(315deg, #63d471 0%, #233329 74%);
}
.padding2{
    padding: 10px;
    color: white;
    border-left: 3px solid red;
        margin-left: 40px;
        background-color: #feae96;
background-image: linear-gradient(315deg, #feae96 0%, #807d7c 74%);
}

.one,.two,.three {
    padding: 5px;
    color: white;
    border-left: 3px solid blue;
        background: linear-gradient(55deg, rgb(34, 34, 34) 8.3%, rgb(0, 40, 60) 41.6%, rgb(0, 143, 213) 93.4%);

}
.profile1,.profile2{
    display: flex;
    border-radius: 10px;
    
}
.profile11,.profile21{
    width: 50%;
    height: 100%;
    color: white;
   
}
.profile12,.profile22{
    width: 50%;
    height: 100%;
    color: white;
    float: right;
}
.profile1{
    margin: 20px auto;
      transition: 500ms linear;
    margin: 24px;
    box-shadow: 4px 5px 10px 0px rgb(70, 130, 180);
    background: linear-gradient(55deg, rgb(34, 34, 34) 8.3%, rgb(0, 40, 60) 41.6%, rgb(0, 143, 213) 93.4%);
}
.profile2{
    background-color: #e84393;
background-image: linear-gradient(315deg, #e84393 0%, #000000 74%);
margin: 21px;
margin-top: -15px;
box-shadow: 4px 5px 10px 0px rgb(70, 130, 180);
}
.profile3{
    color: white;
    background-color: #63d471;
    background-image: linear-gradient(315deg, #63d471 0%, #233329 74%);
    border-radius: 10px;
    text-align: center;
    margin: 20px;
    font-weight: bold;
    margin-top: -5px;
    box-shadow: 4px 5px 10px 0px rgb(70, 130, 180);
    
}

.profile4{
    color: white;
    font-weight: bold;
    text-align: center;
    background-color: #ffc857;
background-image: linear-gradient(316deg, #ffc857 0%, #3e2f5b 74%);
border-radius: 10px;
margin: 20px;
margin-top: -8px;
box-shadow: 4px 5px 10px 0px rgb(70, 130, 180);
}
.q{
    
    font-weight: bold;
    font-size: 1.5rem;
    margin: 34px;

}
.aside1,.aside2,.aside3,.aside6,.aside8{
    color: white;
    display: flex;
    padding: 5px;
    border-right: 4px solid green;
        background-color: #63d471;
        background-image: linear-gradient(315deg, #63d471 0%, #233329 74%);
        justify-content: space-around;
        margin-top: 12px;
        border-radius: 5px;

}
.aside4,.aside5,.aside7{
    color: white;
    display: flex;
    padding: 5px;
    border-right: 4px solid red;
        background-color: #feae96;
background-image: linear-gradient(315deg, #feae96 0%, #807d7c 74%);
        justify-content: space-around;
        margin-top: 12px;
        border-radius: 5px;
}
.aside-right{
    background-color:rgb(9, 9, 23);
    border-radius: 10px;
    margin: 23px;
    margin-right: -2px;
    margin-left: 0;
    box-shadow: 0px 5px 10px 4px rgb(70, 130, 180);
}
.aside-right>:hover{
opacity:1;
transform: scale(1.1);
}